.banner-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-bottom: 25px;
}
.banner-image {
    flex: 1;
}
.banner-image img {
    width: 100%;
    height: 100%;
    min-height: 300px;
    object-fit: cover;
}
.banner-abstract {
    flex: 1;
    display: flex;
}
.banner-abstract > div {
    flex: 1;
    padding: 30px 16px;
}
.banner-abstract > div > h1 {
    margin-top: 0;
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
}
.banner-abstract > div > p {
    margin: 1.25rem 0;
    font-size: 1rem;
}
.banner-abstract > div > a {
    min-width: 200px;
    line-height: 1.8em;
    font-size: 0.875rem;
    text-decoration: none;
}

@media only screen and (min-width: 480px) {
    .banner-image {
        flex: 1.3;
    }
    .banner-abstract > div {
        padding: 30px 32px;
    }
}

@media only screen and (min-width: 1024px) {
    .banner-container {
        flex-direction: row;
    }
    .banner-container.reverse {
        flex-direction: row-reverse;
    }
    .banner-image {
        flex: 1;
    }
    .banner-abstract > div {
        align-self: center;
        padding: 80px 32px;
    }
    .banner-abstract > div > h1 {
        font-size: 2.5rem;
    }
    .banner-abstract > div > p {
        font-size: 1.25rem;
    }
}