.news-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.news-image {
    flex: 1;
}
.news-image img {
    width: 100%;
    height: 100%;
    min-height: 260px;
    object-fit: cover;
}
.news-abstract {
    flex: 1.5;
    display: flex;
}
.news-abstract > div {
    flex: 1;
    padding: 30px 16px;
    background-color: var(--secondary-background-color);
}
.news-body {
    flex: 1.5;
    display: flex;
}
.news-body > div {
    flex: 1;
    padding: 30px 16px;
}
.news-category {
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
    color: var(--secondary-color);
    text-transform: uppercase;
}
.news-date {
    font-size: 0.875rem;
}
.news-title {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
}
.news-abstract > div > p, .news-body > div > p {
    margin: 1.25rem 0;
    font-size: 1rem;
}
.news-abstract > div > a, .news-body > div > a {
    display: block;
    width: 50%;
    padding: 0.5rem 1rem;
    background: var(--primary-button-background-color);
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--primary-button-text-color);
}

@media only screen and (min-width: 480px) {
    .news-container.horizontal {
        flex-direction: row;
    }
    .news-abstract {
        flex: 1.25;
    }
}

@media only screen and (min-width: 1024px) {
    .news-abstract > div > a, .news-body > div > a {
        width: 25%;
    }
}