.blue_entando {
  background-color: #002f87;
  color: white;
}

.blue_entando .fa {
  color: #002f87;
  background-color: white;
}

.light_entando {
  background-color: #2d9cdb;
  color: white;
}

.light_entando .fa {
  color: #2d9cdb;
  background-color: white;
}

.footer__ootb {
  padding: 1rem;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-size: 14.002px;
  line-height: 16px;
  width: 100%;
  min-height: 10vh;
}

.footer__ootb--column {
  width: 50%;
display: grid;
}

.footer__ootb--copyright {
  margin: auto 0;
}

.footer__ootb--social-badge {
margin: auto 0;
}

.footer__ootb--social-badge .fa {
  padding: 8px;
  font-size: 17px;
  width: 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 0 0.5rem;
  float: right;
}

.footer__ootb--utilities {
  padding-bottom: 0.5rem;
}

.footer__ootb--utilities a {
  color: white;
  text-decoration: none;
}

.footer__ootb--utilities a:hover {
  text-decoration: underline;
}
