body {
  font-family: sans-serif;
  margin: 0;
}
li {
  margin: 1rem 0;
}
a {
  font-size: 18px;
  color: #203753;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
h2 {
  text-align: center;
 padding: 4rem;
}
.nav {
  margin: 0 auto;
  list-style-type: disc;
}
.root-a {
  font-weight: bold;
}
.sitemap {
  margin: 0 auto;
}
.a-void:hover {
  font-weight: normal;
}
ul {
  padding-left: 40px;
}
.nav-list {
list-style-type: disc;
}